app/node_modules
app/dist
app/data/apps
app/sourceTemp
app/apkTemp
.docker
app/jadx
fogify-test/application/code/dist
fogify-test/application/code/node_modules
validation-process/application/code/dist
validation-process/application/code/node_modules
survey/.env
