extends ../survey-layout
block survey-content
  form#form-intro(action="/handle-intro" method="POST")
    // ============= Short desc ============
    #short-desc.mt-4
      h3.title.text-center Project Description
      // intro
      .intro.mt-3
        .intro-title.text-underline.font-weight-bold Introduction:
        .intro-desc 
          div Mobile devices, such as smartphones and tablets, are so popular today as billions of users all around the world are using them. Unfortunately, this wide adoption is coming with some potential privacy threats, as they give easy access to mobile apps to lots of personal and sensitive data, such as user locations, contacts, and so on. Individuals have the right to be informed on which personal data are collected by their apps. Unfortunately, often this information is provided by app developers in a form that is not easy to understand by individuals.
            br 
            br
            | In this project, we have proposed a novel measure that could help individuals to better understand the behaviour of apps with respect to the collection of their personal data. This is based on a static analysis of mobile app code to detect each possible data collection. Based on this, we build the so-called Data Access Pattern (DAP) of a target app and by comparing this DAP with those of similar apps we are able to determine whether the target app has to be considered risky for the individual privacy.
      .intro.mt-3
        .intro-title.text-underline.font-weight-bold To validate our measure, we need your help!:
        .intro-desc 
          div In the survey, we will show you for a target app the following general information: the app name, developer, category, and description.
          div Then we show you some information about its DAP, without any further information about our risk estimation.
          br
          div We will ask you to give us feedback on the app’s DAP. In particular, we are interested to learn from you, for any piece of personal data, how much you agree on the fact the target app has to access this information for providing its service.
          div Finally, we will ask you to provide a risk level for the target app given its DAP.
    
      //- // solution
      //- .solution.mt-3
      //-   .solution-title.text-underline.font-weight-bold Proposed solution:
      //-   .solution-desc 
      //-     div In this project, we propose a novel method that can help users to better understand the applications they are using as well as the personal data being accessed. Our method is based on some key info on how users feedback the necessary of special personal data and the risk level of this app.
      //-     div.mt-3 The info of the app include:
      //-     ul
      //-       li The app name, developer, category, and description.
      //-       li The user’s personal data is accessed by the app (the Data Access Pattern (DAP) of the app).
      //- // solution
      //- .contribution.mt-3
      //-   .contribution-title.text-underline.font-weight-bold Participant contribution:
      //-   .contribution-desc Participants will see the information of an app as presented above. After that, they will make their feedback by answering the questions regarding the necessary level of the personal data and the risk level of providing these data for this app. Finally, the participants will assess the risk level of this app.
   
      // questions
      .questions.mt-5
        // question 5
        .question-1.mt-2
          b.title Choose a group for your survey from 3 groups of category:
          .mt-2
            div
              label.container-radio
                | Group 1 (Food & Drink; Health & Fitness; Map & Navigation; Music & Audio; Social)
                input(type='radio'  name='group' value="1" required)
                span.checkmark
            div
              label.container-radio
                | Group 2 (Beauty; Business; Shopping; Entertainment; Finance)
                input(type='radio'  name='group' value="2")
                span.checkmark
            div
              label.container-radio
                | Group 3 (Medical; Tools; Sports; Travel & Local; Education)
                input(type='radio'  name='group' value="3")
                span.checkmark
          .error
        
        
        .wrap-btn-next
          button.login100-form-btn.button-intro Next
      // end form
    
